nav.nav.autumn
  .nav-toggle
    div
    div
    div
  ul.navigation
    li(data-sub="ROOMS")
      a(href="./rooms.html") 房型介紹
    li(data-sub="On Sale")
      a(href="./all.html") 包棟優惠
    li.nav-logo
      a(href="/")
        img(src="./assets/imgs/logo-autumn.png")
    li(data-sub="NOTES")
      a(href="./note.html") 訂房須知
    li(data-sub="Booking")
      a(href="./contact.html") 聯絡村長
