doctype html
html(lang="zh-TW")
  head
    title 台南民宿 -【季節村落】
    include partials/head
  body
    include partials/header
    .container.contact
      h2.title(data-sub="BOOKING/CONTACT")
        img(src="./assets/imgs/title-autumn.png")
        span 聯絡村長
      .traffic.drive
        h3 自行開車
        .south
          h4.item-title 南下
          p 國道1號 或 國道3號  →  經國道8號往台南方向至終點  →  沿途經安吉路  →  海佃路  →  於中華北路右轉  →  中華西路  →  於安平路右轉  →  安北路  →  至州平二街左轉  →  至世平四街右轉  →  至世平一街8巷左轉  →  秋晨屋
        .north
          h4.item-title 北上
          p 國道1號 或 國道3號  →  經86號東西向快速道路往台南方向至終點  →  接17號西部濱海公路往台南  →  沿途經濱南路  →  中華西路  →  至安平路左轉  →  安北路  →  至州平二街左轉  →  至世平四街右轉  →  至世平一街8巷左轉→  秋晨屋
      .traffic.transport
        h3 大眾運輸
        .traffic-item
          h4.item-title 火車
          p 搭乘火車 至台南火車站  →  轉乘大台南公車2號、88號、99號 至古運河站  →  步行約10分鐘即可抵達
        .traffic-item
          h4.item-title 高鐵
          p 搭乘高鐵 至台南站  →  轉乘台鐵經沙崙線 至台南火車站  →  轉乘大台南公車2號、88號、99號 至古運河站  →  步行約10分鐘即可抵達
        .traffic-item
          h4.item-title 客運
          p 搭乘客運 至台南兵工廠下車處  →  於大台南公車站牌(台南公園公園路)轉乘大台南公車88號、99號 至古運河站  →  步行約10分鐘即可抵達
      iframe(src="https://docs.google.com/forms/d/e/1FAIpQLScBZ6cmW7aaLDn0EW_rQZ72jy-Fmovbd273H5EIpM0qoUXYXw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0")
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10889.026626288842!2d120.14657202753895!3d22.9978740719558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346dd8ae9d43653d%3A0xb75646087c678b0!2z56eL5pmo5bGL!5e0!3m2!1szh-TW!2stw!4v1518535802595" height="450" frameborder="0" style="border:0" allowfullscreen)
    include partials/footer


